/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*, *::before, *::after {
  box-sizing: border-box; }

body, html {
  font-size: 14px;
  height: 100%;
  min-height: 100%;
  position: relative;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; }

.security-content {
  padding: 100px 0;
  max-width: 1040px;
  margin: 0 auto; }
  .security-content .wrapper {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
        justify-content: space-between;
    -ms-flex-align: start;
        align-items: flex-start; }
  .security-content .left {
    max-width: 300px;
    -ms-flex: none;
        flex: none;
    position: -webkit-sticky;
    position: sticky;
    top: 100px; }
    .security-content .left .table-of-contents {
      padding: 20px;
      border: 1px solid #e8edf2;
      font-size: 0.875rem;
      border-radius: 4px;
      overflow: auto;
      height: calc(100vh - 120px);
      max-height: -webkit-fit-content;
      max-height: -moz-fit-content;
      max-height: fit-content; }
      .security-content .left .table-of-contents h4 {
        text-transform: uppercase;
        color: #474747;
        line-height: 1.4;
        font-weight: 600;
        padding-bottom: 8px;
        font-size: 1rem; }
      .security-content .left .table-of-contents ul li {
        margin-top: 15px; }
        .security-content .left .table-of-contents ul li.active a {
          color: cyan; }
          .security-content .left .table-of-contents ul li.active a::before {
            border-color: cyan; }
        .security-content .left .table-of-contents ul li a {
          color: #878787;
          position: relative;
          padding-left: 20px;
          display: inline-block;
          line-height: 1.4;
          text-decoration: none;
          font-size: 1rem;
          transition: .2s ease; }
          .security-content .left .table-of-contents ul li a:hover {
            color: cyan; }
            .security-content .left .table-of-contents ul li a:hover::before {
              border-color: cyan; }
          .security-content .left .table-of-contents ul li a::before {
            content: ' ';
            display: block;
            width: 6px;
            height: 6px;
            border: 2px solid #dedede;
            border-radius: 50%;
            position: absolute;
            left: 0;
            top: 6px;
            box-sizing: content-box; }
  .security-content .right {
    padding-left: 40px; }
    .security-content .right h2 {
      font-size: 2rem;
      line-height: 1.4;
      color: #333538;
      font-weight: 600; }
    .security-content .right * + h2 {
      margin-top: 35px; }
    .security-content .right h3 {
      font-size: 1.28571rem;
      line-height: 1.4;
      color: #333538;
      font-weight: 600;
      margin-top: 25px; }
    .security-content .right a {
      color: cyan;
      text-decoration: none; }
      .security-content .right a:hover {
        text-decoration: underline; }
    .security-content .right p {
      margin-top: 15px;
      color: #757575;
      font-size: 1.14286rem;
      line-height: 27px; }
    .security-content .right ul {
      display: block; }
      .security-content .right ul li {
        color: #757575;
        font-size: 1.14286rem;
        line-height: 27px;
        padding-left: 28px;
        position: relative;
        margin-top: 15px;
        display: block; }
        .security-content .right ul li::before {
          content: ' ';
          display: block;
          background: #dadada;
          width: 6px;
          height: 6px;
          border-radius: 50%;
          position: absolute;
          left: 0;
          top: 10px; }
  @media screen and (min-width: 769px) and (max-width: 979px) {
    .security-content .left .table-of-contents.fixed {
      width: 210px; } }
  @media screen and (max-width: 768px) {
    .security-content {
      padding: 50px 0;
      max-width: 1040px;
      margin: 0 auto; }
      .security-content .wrapper {
        display: block; }
      .security-content .left {
        width: 100%;
        padding-right: 0;
        max-width: 100%;
        margin-bottom: 30px;
        position: relative;
        top: 0; }
        .security-content .left .table-of-contents.fixed {
          position: relative;
          top: 0;
          width: 100%; }
      .security-content .right {
        float: none;
        width: 100%;
        max-width: 100%;
        padding: 0; } }
