// Variables
//============================

// 1. Colors
$main-color:     blue;
$title-color:    #333538;
$font-color:     #757575;
$link-nav-color: #878787;
$tick-color:     #dadada;
$border-color:   #e8edf2;

// 2. Positions & sizes
$menu-fixed-top: 100px;
$padding-top-bottom-container: 70px;

// 3. Font Family
$font-family: "Helvetica", sans-serif;


// Security Page css
//============================
.security-content {
  padding: $padding-top-bottom-container 20px;
  font-family: $font-family;
  overflow: hidden;
  display: flex;
  justify-content: space-between;

  // Columns
  //----------------------
  .sc-left {
    flex: none;
    width: 30%;
    max-width: 360px;
    padding-right: 20px;

    .table-of-contents {
      padding: 30px 20px;
      border: 1px solid $border-color;
      border-radius: 4px;
      top: $menu-fixed-top;

      &.fixed {
        position: fixed;
        width: calc(30% - 32px);
        max-width: 340px;
      }

      h4 {
        text-transform: uppercase;
        color: $title-color;
        line-height: 1.4;
        font-weight: 600;
        padding-bottom: 8px;
        font-size: rem-calc(14px);
      }

      ul {
        li {
          margin-top: 15px;

          &.active a, &:hover a {
            color: $main-color;

            &:before {
              border-color: $main-color;
            }
          }

          a {
            color: $link-nav-color;
            position: relative;
            padding-left: 20px;
            display: inline-block;
            line-height: 1.4;
            text-decoration: none;
            font-size: rem-calc(14px);
            transition: .2s ease;

            &::before {
              content: ' ';
              display: block;
              width: 6px;
              height: 6px;
              border: 2px solid $tick-color;
              border-radius: 50%;
              position: absolute;
              left: 0;
              bottom: 6px;
              box-sizing: content-box;
              transition: .2s ease;
            }
          }
        }
      }
    }
  }

  .sc-right {
    padding-left: 20px;

    .sc-block + .sc-block {
      margin-top: 65px;
    }

    // Content
    //----------------------
    h2 {
      font-size: rem-calc(28px);
      line-height: 1.4;
      color: $title-color;
      font-weight: 600;
    }

    h3 {
      font-size: rem-calc(18px);
      line-height: 1.4;
      color: $title-color;
      font-weight: 600;
      margin-top: 25px;
    }

    a {
      color: $main-color;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    p {
      margin-top: 15px;
      color: $font-color;
      font-size: rem-calc(16px);
      line-height: 1.6;
    }

    ul {
      display: block;

      li {
        color: $font-color;
        font-size: rem-calc(16px);
        line-height: 1.6;
        padding-left: 28px;
        position: relative;
        margin-top: 15px;
        display: block;

        &::before {
          content: ' ';
          display: block;
          background: $tick-color;
          width: 6px;
          height: 6px;
          border-radius: 50%;
          position: absolute;
          left: 0;
          top: 10px;
        }
      }
    }
  }

  // Responsive
  //----------------------
  @include tablet-only() {
    .sc-left {
      width: 257px;

      .table-of-contents {
        &.fixed {
          width: 257px;
        }
      }
    }
    .sc-right {
      flex: none;
      width: calc(100% - 267px)
    }
  };

  @include mobile() {
    padding: 50px 20px;
    margin: 0 auto;
    display: block;

    .sc-left {
      width: 100%;
      padding-right: 0;
      max-width: 100%;
      margin-bottom: 30px;

      .table-of-contents {
        &.fixed {
          position: relative;
          top: 0;
          width: 100%;
          max-width: 100%;
        }
      }
    }

    .sc-right {
      width: 100%;
      max-width: 100%;
      padding: 0;
    }
  };
}
