$main-color: var(--global-color);

body, html {
  font-size: 14px;
  height: 100%;
  min-height: 100%;
  position: relative;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.security-header {
  background: linear-gradient(to bottom, #ffffff, #f7f7f7);
  text-align: center;

  .wrapper {
    padding: 162px 20px 76px;
    max-width: 1040px;
    margin: 0 auto;
    position: relative;
  }

  .logo {
    position: absolute;
    left: 20px;
    top: 30px;
  }

  h1 {
    font-size: rem-calc(40px);
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.17;
    color: #4c4c4c;
    margin-bottom: 12px;
  }

  .subtitle {
    font-size: rem-calc(19px);
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.47;
    text-align: center;
    color: #8f8f8f;
    width: 100%;
    max-width: 550px;
    margin: 0 auto;
    display: block;
  }

  @include mobile() {
    padding: 0;

    .wrapper {
      padding: 120px 20px 90px;
    }

    h1 {
      font-size: 2.2em;
    }

    .subtitle {
      font-size: 1.8em;
    }

    .button {
      margin-top: 20px;
    }
  };
}

.security-content {
  padding: 100px 0 160px;

  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 20px;
    max-width: 1040px;
    margin: 0 auto;
  }

  .left {
    max-width: 300px;
    flex: none;
    position: sticky;
    top: 100px;

    .table-of-contents {
      padding: 20px;
      border: 1px solid #e8edf2;
      font-size: 0.875rem;
      border-radius: 4px;
      overflow: auto;
      height: calc(100vh - 120px);
      max-height: fit-content;

      h4 {
        text-transform: uppercase;
        color: #474747;
        line-height: 1.4;
        font-weight: 600;
        padding-bottom: 8px;
        font-size: rem-calc(14px);
      }

      ul {
        li {
          margin-top: 15px;

          &.active a {
            color: $main-color;

            &::before {
              border-color: $main-color;
            }
          }

          a {
            color: #878787;
            position: relative;
            padding-left: 20px;
            display: inline-block;
            line-height: 1.4;
            text-decoration: none;
            font-size: rem-calc(14px);
            transition: .2s ease;

            &:hover {
              color: $main-color;
  
              &::before {
                border-color: $main-color;
              }
            }

            &::before {
              content: ' ';
              display: block;
              width: 6px;
              height: 6px;
              border: 2px solid #dedede;
              border-radius: 50%;
              position: absolute;
              left: 0;
              top: 6px;
              box-sizing: content-box;
            }
          }
        }
      }
    }
  }

  .right {
    padding-left: 40px;

    h2 {
      font-size: rem-calc(28px);
      line-height: 1.4;
      color: #333538;
      font-weight: 600;
    }

    * + h2 {
      margin-top: 35px;
    }

    h3 {
      font-size: rem-calc(18px);
      line-height: 1.4;
      color: #333538;
      font-weight: 600;
      margin-top: 25px;
    }

    a {
      color: $main-color;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    p {
      margin-top: 15px;
      color: #757575;
      font-size: rem-calc(16px);
      line-height: 27px;
    }

    strong {
      font-weight: bold;
    }

    ul {
      display: block;

      li {
        color: #757575;
        font-size: rem-calc(16px);
        line-height: 27px;
        padding-left: 28px;
        position: relative;
        margin-top: 15px;
        display: block;

        &::before {
          content: ' ';
          display: block;
          background: #dadada;
          width: 6px;
          height: 6px;
          border-radius: 50%;
          position: absolute;
          left: 0;
          top: 10px;
        }
      }
    }
  }

  @include mobile() {
    .wrapper {
      display: block;
    }

    .left {
      display: none;
    }

    .right {
      float: none;
      width: 100%;
      max-width: 100%;
      padding: 0;
    }
  };
}

.security-footer {
  background-color: #f9f9f9;
  padding: 80px 0;

  .wrapper {
    padding: 0 20px;
    max-width: 1040px;
    margin: 0 auto;
    position: relative;
    text-align: center;
    font-size: rem-calc(14px);
    color: #717171;
  }
}
